
.PlantProfile {
    margin: auto;
    width: 97vw;
    font-weight: bold;
    /* text-align: center; */
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}

.PlantInfo, .StatsTabs {
    /*white-space: nowrap;*/
    border: 3px solid #7d9c7b;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    background-color: #7cb580;
    color: white;
}

.PlantInfo {
    height: 32%;
    padding: 0px;
}

.PlantText {
    float: left;
    width: 80vw;
    white-space: normal;
}

.PlantImage {
    float: left;
    height: 14vh;
    width: 9vw;
    padding-bottom: 10px;
    padding-right: 0;
    margin-right: 0;
}

.PlantImage img {
    height: 100%;
    border-radius: 5px;
}

.StatsTabs {
   padding-bottom: 10px;
}

.meters {
    text-align: center;
    width: 100%;
}

.data {
    width: 20%;
    float: left;
    position: relative;
}

.data .value{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.chart {
    width: 80%;
    height: 50%;
    margin: auto;
}

.PlantInfo h2 {
    font-size: 20px;
}

.PlantInfo p {
    font-weight: normal;
}