
.PlantProfile {
    position: fixed;
    margin: auto;
    width: 100vw;
    font-weight: bold;
    text-align: center;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}

.PlantInfo, .StatsTabs {
    white-space: nowrap;
    border: 3px solid green;
    border-radius: 10px;;
    margin: 10px;
    padding: 20px;
    text-align: left;
    background-color: green;
    color: white;
    overflow: hidden;
}

.PlantInfo {
    height: 20%;
}

.PlantText {
    float: right;
    width: 88%;
    white-space: normal;
}

.PlantImage {
    float: left;
    height: 100%;
    width: 10%;
}

.PlantImage img {
    height: 100%;
    border-radius: 5px;
}

.StatsTabs {
    height: 70%;
}

.tabs {
    text-align: center;
}

.tabs button {
    white-space: nowrap;
    width: 30%;
    height: 70px;
    margin: 10px;
    border-radius: 10px;
    font-size: 190%;
    border: none;
}

.tabs button:focus {
    background-color: lightgreen;
}

.Chart {
    text-align: center;
}