.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

p.statistics {
  font-size: 20px;
  font-weight: bold;
}
