body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 10px solid white; /* Changed to white border */
  padding: 20px;
  height: 100vh; /* Set minimum height to cover the entire viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(77, 129, 74); /* Set the background color to green */
  border-radius: 170px; /* Adds rounded corners to the border */
}

p.statistics {
  font-size: 20px;
  font-weight: bold;
}

.navbar .ant-menu-item {
  text-align: center;
  margin: auto;
}

.HomeButton {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
}

.Profiles #Plant {
  font-size: 30px;
  font-weight: bold;
}

.Profiles .ViewStats {
  margin-top: 20px;
  font-size: 20px;
}

.Profiles {
  width: 800px; /* Adjust the maximum width as needed */
  padding: 15px; /* Adjust the padding as needed */
  border: 2px solid #ccc;
  border-radius: 20px; /* Adjust the border-radius for rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Adjust the box-shadow as needed */
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: white; /* Sets the background color to white */
}

.App .Header {
  font-weight: bold;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 80px;
  margin-bottom: 40px;
  /*font-style: italic;  Italicize the text */
  text-decoration: underline; /* Underline the text */
  font-size: 50px; /* Adjust the font size as needed */
}

.App .PageDescription {
  margin-top: 30px;
  font-size: 20px; /* Adjust the font size as needed */
}

.App {
  text-align: center;
}

.CenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.Description {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px; /* Adjust the font size as needed */
}

.App .ButtonContainer {
  margin-top: 70px;
  font-size: 30px;
  margin-bottom: 50px;
}

.login-container {
  font-family: sans-serif;
  text-align: center;
  background-color: #9cc599; /* Set the background color to light green */
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sign-up-container {
  font-family: sans-serif;
  text-align: center;
  background-color: #9cc599; /* Set the background color to light green */
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.forgot-pass-container {
  font-family: sans-serif;
  text-align: center;
  background-color: #9cc599; /* Set the background color to light green */
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* styles.css */
.custom-modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
